section.tuyendung-ct
	.noidung
		.container
			.row
				.col-md-9
					h2 Nhân viên kinh doanh
					.attributes-list.row
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-tag 
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title
										span.mdi.mdi-account
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-format-list-bulleted
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-briefcase
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-key
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-school
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-calendar-today
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						.attr-item.col-lg-6
							.row
								.col-6.col-sm-4
									p.attr-title 
										span.mdi.mdi-cake-variant
										| Chức vụ
								.col-6.col-sm-8
									p.attr-content Nhân viên
						
					h4 Mô tả công viêc
					ul
						li Chăm sóc khách hàng công ty hiện có.
						li Khai thác thêm khách mới có tiềm năng.
						li Thương thảo, đàm phán ký kết hợp đồng với khách hàng.
						li Làm việc theo sư phân công chỉ đạo trực tiếp từ giám đốc.
						li Có thể đi công tác tỉnh
					br
					h4 Yêu cầu công việc
					ul
						li Có phẩm chất đạo đức tốt.
						li Kỹ năng giao tiếp và đàm phán tốt, năng động, nhiệt tình.
						li Yêu thích nghề kinh doanh và có khả năng gắn bó lâu dài.
					br
					h4 Quyền lợi được hưởng
					ul
						li
							| Lương cơ bản 7.000.000/ tháng , hoa hồng từ 5%- 10% ( tùy theo năng lực của nhân viên )
						li
							| Hưởng đầy đủ các chế độ theo Luật lao động hiện hành, được đóng đầy đủ BHXH, BHYT, BHTN.
						li Thưởng tháng lương 13, quà trong các dịp nghỉ lễ, tết.
						li Được làm việc trong môi trường chuyên nghiệp, cạnh tranh và năng động.
						li Được tham gia các buổi tập huấn, trực tiếp từ tập đoàn
					br
					h4 Hạn nộp hồ sơ:
					a(href="#").btn-apply Nộp hồ sơ
						span.mdi.mdi-chevron-right
				.col-md-3.tuyendung
					h3 TUYỂN DỤNG KHÁC
					.item
						a(href='')
							time 06/05/2019
							p Tuyển dụng nhân viên Tư vấn
					.item
						a(href='')
							time 06/05/2019
							p Tuyển dụng nhân viên Thiết kế
					.item
						a(href='')
							time 06/05/2019
							p Tuyển dụng nhân viên Marketing
