section.tuyendung-1
	.container
		h1.title TUYỂN DỤNG
		.row
			.col-lg-5
				img(src="./img/about/about2.jpg", alt="")
			.col-lg-7
				.text
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex doloremque minus saepe laboriosam amet suscipit odio id aspernatur fugiat error, ducimus accusantium nostrum nemo vel quibusdam eos! Aperiam, totam.
					br
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam reprehenderit, tempore corrupti amet ullam ea earum repellat illo necessitatibus perspiciatis minima temporibus asperiores, voluptatum cupiditate nostrum, quam quod vero et.
section.tuyendung-2
	.container
		h4 Hiện tại công ty chúng tôi đang tuyển dụng một số vị trí sau:
		.row
			.col
				.table-main
					table
						thead
							tr
								th STT
								th Chức danh
								th Nơi làm việc
								th Ngày hết hạn
						tbody
							tr
								td 01
								td
									a(href='http://preview2776.canhcam.com.vn/tuyen-dung/tuyen-nhan-vien-kinh-doanh', target='_self', title='Tuyển Nhân viên Kinh Doanh') Tuyển Nhân viên Kinh Doanh
								td TP.HCM
								td 14/03/2019