section.tin-tuc-ct
	.container
		.row
			.col-lg-9
				article
					h1.title Đột phá trong năm 2018 với 9 xu hướng Content Marketing được mong đợi nhất
					time 13/08/2018
					.fullcontent
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui omnis in, quibusdam deserunt veniam ab molestias ipsum a eveniet ullam excepturi ad voluptates! Tempora saepe odit voluptatibus, mollitia rem laudantium!
			.col-lg-3
				.news-other
					h2 Tin tức khác
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
