section.tin-tuc
	.container
		h2.title Tin tức
		.row
			.col-lg-6
				.big-news
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
			.col-lg-6
				.side-news
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
					.news-item
						.news-image
							img(src="./img/tin-tuc/1.jpg", alt="")
						.news-content
							time 08/06/2018
							p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
			.col-lg-4
				.small-news
					.news-image
						img(src="./img/tin-tuc/1.jpg", alt="")
					.news-content
						time 08/06/2018
						p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
			.col-lg-4
				.small-news
					.news-image
						img(src="./img/tin-tuc/1.jpg", alt="")
					.news-content
						time 08/06/2018
						p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
			.col-lg-4
				.small-news
					.news-image
						img(src="./img/tin-tuc/1.jpg", alt="")
					.news-content
						time 08/06/2018
						p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết
			.col-lg-4
				.small-news
					.news-image
						img(src="./img/tin-tuc/1.jpg", alt="")
					.news-content
						time 08/06/2018
						p.news-title 6 phương pháp soạn content marketing cho người không giỏi viết